.bar-2
{
  color: white;
  background-color: rgba(0,0,0,0);
  font-size: 15px;
  font-weight: bold;
}

.bar-2-center
{
  border-radius: 9px;
  background-color: rgba(0,0,0,0.75);
  padding: 7px;
}

.bar-2-right
{
  border-radius: 9px;
  background-color: rgba(0,0,0,0.75);
  padding: 7px;
}

.bar-2-left
{
  background-color: rgba(0, 0, 0, 0);
}

.workspaces-2
{
  padding: 0px 7px;
  border-radius: 9px;
  background-color: rgba(0,0,0,0.75);
}

.lyrics-2
{
  padding: 0px 7px;
  border-radius: 9px;
  background-color: rgba(0,0,0,0.75);
}
