.bar-center
{
	background-color: rgba(0,0,0,0);
	border-radius: 9px;
	font-size: 15px;
	font-weight: bold;
}

.center-text
{
	border-radius: 9px;
	margin: 0px 230px; // wtf please help
	background-color: rgba(0,0,0,0.75);
}

.right-text
{
	border-radius: 9px;
	background-color: rgba(0,0,0,0.75);
	padding: 7px;
}

.left-text
{
	background-color: rgba(0,0,0,0.75);
	border-radius: 9px;
}

.workspaces-btn
{
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}
