@import "windows/bar/bar.scss"
@import "windows/bar-2/bar-2.scss"
@import "windows/music/music.scss"

.settings_button
{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  font-size: 25px;	
  padding: 10px;
  font-weight: bold;
}

.menu_settings
{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 9px;
  font-weight: bold;
}

.menu
{
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.75);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 9px;
  font-weight: bold;
}

.scale
{
  border-color: rgba(0, 0, 0, 1);
  padding: 7px;
  font-weight: bold;
}

button
{
  background-color: rgba(0,0, 0, 0);
}
