* {
    background:                     #000000;
    background-alt:                 #000000;
    foreground:                     #ffffff;
    border:               			    #000000;
    border-alt:               		  #000000;
    selected:               		    #182551;
    urgent:                         #DA4453FF;
}
