$font: JetBrains Mono Nerd;
$fontAlt: azuki_font;

$text: #ffffff;
$textAlt: #000000;

$background: rgba(0,0,0,0.6);
$backgroundAlt: white;

$color: white;
$colorAlt: black;

$borderRadius: 9px;
$borderWidth: 2px;
$border: solid $colorAlt;

$padding: 0 6px;
