$font: JetBrains Mono Nerd;
$fontAlt: "OPTIBodoni\-Antiqua";

$text: white;
$textAlt: black;

$background: rgba(0,0,0,0.6);
$background: rgba(30,30,46,0.6);
$backgroundAlt: white;

$color: white;
$colorAlt: black;

$borderRadius: 9px;
$borderWidth: 2px;
$border: solid $colorAlt;

$padding: 0 6px;
